[Unit]
Description=GardenaLocalControl with MQTT Server
After=nngforward-lemonbeatd.service
Wants=nngforward-lemonbeatd.service
ConditionPathExists=/opt/gardenalocalcontrol

[Service]
ExecStart=/usr/bin/python3 '/opt/gardenalocalcontrol/gardenalocalcontrol.py'
WorkingDirectory=/opt/gardenalocalcontrol
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target