[Unit]
Description=GardenaLocalControl with MQTT Server
After=network.target
ConditionPathExists=/opt/gardenalocalcontrol
[Service]
Type=forking
ExecStart=/usr/bin/python3 '/opt/gardenalocalcontrol/gardenalocalcontrol.py'
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99
Restart=always
[Install]
WantedBy=multi-user.target